<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.button "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="change_gravatar"<%# _blank smells! %>>change</a>
  </div>
</div>
